<div>
  <h2 class="productName"><%= @product.name %></h2>
  <p class="productDescription"><%= @product.description %></p>
  <p><a href="#" class="js-next" data-id="<%= @product.id%>">Next Product</a></p>
</div>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-next").on("click", function(event) {
    event.preventDefault();
    var nextId = parseInt($(".js-next").attr("data-id")) + 1;
    $.getJSON("/products/" + nextId + "/data", function(data) {
      $(".productName").text(data["name"]);
      $(".productDescription").text(data["description"]);
      $(".js-next").attr("data-id", data["id"]);
    });
  });
});
</script>

